html {
  background: #0cf;
  color: #fff;
  font-family: 'Helvetica Neue';
  height: 100%;
  position: absolute;
  width: 100%; }

body {
  background: linear-gradient(#0cf, #0f9);
  height: 100%;
  margin: 0;
  position: absolute;
  width: 100%; }
  body *::-moz-selection {
    background: rgba(0, 150, 225, 0.75); }
  body *::selection {
    background: rgba(0, 150, 225, 0.75); }

a.cta {
  border-radius: .25em;
  color: #fff;
  margin: 0 -.25em;
  padding: .25em;
  transition: background .25s; }
  a.cta:hover {
    background: rgba(0, 0, 0, 0.2); }

h1 {
  font-size: 32px;
  font-weight: 100;
  letter-spacing: .25em;
  margin: 0 auto;
  max-width: 13em;
  text-transform: uppercase; }

p {
  font-weight: 300;
  letter-spacing: .1em;
  margin: 15px 0 0; }

section {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: relative;
  text-align: center; }
  @media (min-height: 700px) {
    section:before, section:after {
      border-color: #fff;
      border-style: solid;
      border-width: 1px 0 0 1px;
      content: '';
      display: block;
      height: 20px;
      left: 2vw;
      position: absolute;
      top: 2vw;
      width: 20px;
      z-index: 1; }
    section:after {
      border-width: 0 1px 1px 0;
      bottom: 2vw;
      left: auto;
      right: 2vw;
      top: auto; } }

.bookmarklet {
  display: table;
  font-size: 100px;
  line-height: 1em;
  margin: 25px auto 10px;
  position: relative; }
  .bookmarklet:before, .bookmarklet:after {
    border-color: #fff;
    border-style: solid;
    border-width: 1px 0 0 1px;
    content: '';
    display: block;
    height: 20px;
    left: -1px;
    position: absolute;
    top: -1px;
    width: 20px;
    z-index: 1; }
  .bookmarklet:after {
    border-width: 0 1px 1px 0;
    bottom: -1px;
    left: auto;
    right: -1px;
    top: auto; }
  .bookmarklet a {
    display: block;
    padding: 6px 15px 0;
    position: relative;
    text-decoration: none;
    transition: background .25s;
    z-index: 2; }
    .bookmarklet a:hover {
      background: rgba(0, 0, 0, 0.2); }

code {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  color: #fff;
  display: block;
  font: 18px 'Courier new', Courier, fixed;
  height: 1em;
  margin: 15px auto;
  overflow: auto;
  padding: 10px;
  text-align: left;
  white-space: nowrap;
  width: 300px;
  transition: background .25s; }
  code:hover {
    background: rgba(0, 0, 0, 0.2); }

.social {
  display: flex;
  justify-content: center; }
  .social p {
    margin: 0 10px; }
  .social a {
    background-position: 50% 0;
    background-repeat: no-repeat;
    border-radius: 3px;
    border: 10px solid transparent;
    color: #fff;
    display: block;
    padding-top: 48px;
    text-decoration: none;
    transition: background-color .25s; }
    .social a[href*="github"] {
      background-image: url(github.svg);
      background-size: 48px; }
    .social a[href*="twitter"] {
      background-image: url(twitter.svg);
      background-size: 50px; }
    .social a:hover {
      background-color: rgba(0, 0, 0, 0.2); }
